*{margin:0px;padding:0px;font-family:'roboto';}
.btn-secondary {background-color:#ff2600;border-radius:25px;padding:8px 25px;border:none;color:#000;font-weight:600;} 
.btn-light {border-radius:25px;padding:8px 20px;background-color:rgb(93 237 3 / 90%);border:none;color:#000;font-weight:600;}


.header {background-image:url("../images/vinay-new.jpg"); position: relative; background-repeat: no-repeat; overflow: hidden;height:100vh;}
.navbar-light .navbar-brand {
    color: rgba(248, 246, 246, 0.9)!important;
}
.header::before{content: ""; background-color: #000; opacity: .7; height: 100% ; width: 100%; position: absolute; top: 0px;}
.navbar-brand {font-weight:600;font-size:24px;}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(248, 246, 246, 0.9)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: rgba(248, 246, 246, 0.9)!important;
    
}
.navbar-expand .navbar-collapse {
    display: flex!important;
    /* flex-basis: auto; */
    justify-content: flex-end;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav >.nav-link {
    color: rgb(93 237 3 / 90%)!important;
}
.navbar-light .navbar-nav .nav-link {
    color: #fff!important;
    font-size: 16px!important;
    font-weight: 600;
}
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}
.navbar-expand-lg .navbar-nav .nav-link i{padding-right:10px;}
.navbar-expand-lg .navbar-nav .nav-link{margin: auto;}
.navbar-nav{margin-left: auto;}
.banner {padding:120px;color:#fff;position: relative;}
.bnr-lft {width:300px;height:300px;background-color:#fff;border-radius:50%;
    margin:auto;border:8px solid rgba(128, 128, 128, 0.459);overflow:hidden;
}
.bnr-lft img {max-width:100%;}
.title-1 h1{font-weight:900;}
.title-1 p{line-height: 25px;font-size: 16px;}
.social-list li{display:inline-block;}
.social-list li i{padding-right:15px;font-size:20px;}
.botton-list li{display:inline-block;padding-right:15px;}
.rocket {padding-top:80px;}
.rocket i{-ms-transform:rotate(-45deg);
    transform:rotate(-45deg);font-size:82px;position: relative;
    animation: mymove 5s infinite;background:linear-gradient(to top, #ff2600 0%, rgb(93 237 3 / 90%) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;


}
 @keyframes mymove {from {bottom:0px;} to {bottom:80px;}}

/* =================About-us-css-starts======= */
.header-2 {position: relative; background-repeat: no-repeat; overflow: hidden;}
.header-2::before{content: ""; background-color: #000; opacity:.9; height: 100% ; width: 100%; position: absolute; top: 0px;}
.about-banner {position:relative;padding-top:60px;}
.about-banner .col-lg-5 {padding:0px 30px 0px 0px;}
.about-banner .col-lg-5 img{overflow:hidden;}
.about-banner .col-lg-7 {padding:50px 0px;}
.about-banner h1{font-weight:800;color:#fff;}





/*==========about-us-css-end===========*/












@media only screen and (max-width:576px){.banner{padding:20px;}}